# interactive
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

# navigation
alias ls='ls --color=auto'
alias la="ls -AFhl"
alias cdp="cd -P"
alias marco="pwd"
alias polo="cd -P ."
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"

# shortcuts

# enable aliases to be sudo'ed
alias sudo='sudo '

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# spacktivate alias
#alias spacktivate="~/.spack/spacktivate.sh"
